.divLatter {
    width: 70px;
    height: 70px;
    border: .1px solid slategray;
    border-radius: 50vw;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 2vw;
}