.mainBoxGenre{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    align-content: center;
    justify-content: center;
}
.sectionOneMovie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5vw;
}