.mainSearchFormBox {
    width: 80vw;
    height: 10vh;
    /*border: 1px solid violet;*/
}

.searchBox {
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
    align-content: center;
    margin-left: 25vw;
    margin-top: 5vh;
}

.searchButton {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(248, 0, 0, 0.16) 0%, rgb(21, 21, 21) 100%);
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    width: 25vw;
    height: 5vh;
    padding-left: 24px;
}

.iconSearchMovies {
    font-size: 1.5vw;
}

.searchList {
    scrollbar-color: #292828 #706e6e;

    position: absolute;
    border: 1px solid #4c4a4a;
    box-shadow: rgba(253, 253, 253, 0.1) 0px 4px 12px;
    background: rgba(41, 40, 40, 0.88);
    display: flex;
    align-items: center;
    text-align: center;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    margin-top: .2vw;
    border-radius: 1vw;
    max-height: 30vw;
    overflow-y: scroll;
    color: white;

}

.searchList>div{
    width: 30vw;
}
.searchedDate{
    margin: 0;
    padding: 1vw;
    cursor: pointer;
    font-family: "Geist Mono", monospace;
}
.searchedDate:hover{
    background: rgb(34, 33, 33);

}