.buttonFilter {
    width: 15vw;
    height: 7vh;
    border: 1px solid #4c4a4a;
    gap: 3.5vw;
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: .5vw;

}

.menu > h3 {
    color: white;
    padding: 0;
    margin: 0 0 2vh 0;
    /*margin-top: -20px;*/
}

.line {
    height: 1.1vw;
    border: .1px solid gray;
}

.menu {
    margin-top: 2vh;
    position: absolute;
    right: 13vw;
    width: 12vw;
    padding: 25px;
    background: rgba(41, 40, 40, 0.66);
    border-radius: 10px;
    border: .1px solid #7c7a7a;

}

.activeMenu::before,
.activeMenu::after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    border: 10px solid transparent;
}

.menuItem {
    /*text-decoration: none;*/
    /*list-style: none;*/
}

.menuList {
    margin: 0;
    width: 100%;
    padding: 0;
    /*list-style-type: none;*/
}

.activeMenu {
    position: absolute;
    opacity: 0;

}

.linkSortByGenre {
    color: #aeabab;
    opacity: 1;
    visibility: visible;
    position: static;
    text-decoration: none;
    font-size: 1vw;

}