.slider-container{
    margin-top: 6vw;
    margin-left: 10vw;
    width: 89%;
    height: 200px;
}
.slick-slider{
    height: 200px;
    width: 90%;
}
.boxWithOneSlide{
    display: flex;
    align-items: center;
    /*align-items: center;*/
    /*justify-content: center;*/
}
.FaArrowRightLong{
    font-size: 2vw;
    color: white;
    padding-left: 20px;
}
.photoGenre{
    width: 350px;
    height: 350px;
}
.slick-dots{
    top: 450px  ;
    color: white;
    background: white;
}
.slick-dots>li:active{
    color: #b56363;

}
.slick-dots li button:before{
color: white !important;
}
.genderName{
    margin-left: 4vw;
    color: white;
}